 <script>
    const videos = [
      {
        manifestUri: 'https://qp-pldt-live-grp-02-prod.akamaized.net/out/u/cg_a2z.mpd',
        clearKey: {
          'f703e4c8ec9041eeb5028ab4248fa094' : 'c22f2162e176eee6273a5d0b68d19530'
        }
      },
      {
        manifestUri: 'https://cdn-ue1-prod.tsv2.amagi.tv/linear/amg01006-abs-cbn-kapcha-dash-abscbnono/8ffa590b-6589-4866-a768-07329759969b/index.mpd',
        clearKey: {
          'bd17afb5dc9648a39be79ee3634dd4b8' : '3ecf305d54a7729299b93a3d69c02ea5'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-10-prod.akamaized.net/out/u/dr_abc_aus.mpd',
        clearKey: {
          '389497f9f8584a57b234e27e430e04b7' : '3b85594c7f88604adf004e45c03511c0'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-01-prod.akamaized.net/out/u/arirang_sd.mpd',
        clearKey: {
          '13815d0fa026441ea7662b0c9de00bcf' : ':2d99a55743677c3879a068dd9c92f824'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_aljazeera.mpd',
        clearKey: {
          '7f3d900a04d84492b31fe9f79ac614e3' : 'd33ff14f50beac42969385583294b8f2'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-07-prod.akamaized.net/out/u/asianfoodnetwork_sd.mpd',
        clearKey: {
          '1619db30b9ed42019abb760a0a3b5e7f' : '5921e47fb290ae263291b851c0b4b6e4'
        }
      },
      {
        manifestUri: 'https://cdn-ue1-prod.tsv2.amagi.tv/linear/amg01006-abs-cbn-anc-global-dash-abscbnono/index.mpd',
        clearKey: {
          '4bbdc78024a54662854b412d01fafa16' : '6039ec9b213aca913821677a28bd78ae'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-07-prod.akamaized.net/out/u/cg_animax_sd.mpd',
        clearKey: {
          '92032b0e41a543fb9830751273b8debd' : '03f8b65e2af785b10d6634735dbe6c11'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-06-prod.akamaized.net/out/u/cg_axn_sd.mpd',
        clearKey: {
          'fd5d928f5d974ca4983f6e9295dfe410' : '3aaa001ddc142fedbb9d5557be43792f'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-03-prod.akamaized.net/out/u/cg_bbcearth_hd1.mpd',
        clearKey: {
          '34ce95b60c424e169619816c5181aded' : '0e2a2117d705613542618f58bf26fc8e'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-04-prod.akamaized.net/out/u/bbcworld_news_sd.mpd',
        clearKey: {
          'f59650be475e4c34a844d4e2062f71f3' : '119639e849ddee96c4cec2f2b6b09b40'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-05-prod.akamaized.net/out/u/bilyonaryoch.mpd',
        clearKey: {
          '227ffaf09bec4a889e0e0988704d52a2' : 'b2d0dce5c486891997c1c92ddaca2cd2'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-06-prod.akamaized.net/out/u/cg_buko_sd.mpd',
        clearKey: {
          'd273c085f2ab4a248e7bfc375229007d' : '7932354c3a84f7fc1b80efa6bcea0615'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-09-prod.akamaized.net/out/u/bloomberg_sd.mpd',
        clearKey: {
          'ef7d9dcfb99b406cb79fb9f675cba426' : 'b24094f6ca136af25600e44df5987af4'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_cartoonnetworkhd.mpd',
        clearKey: {
          'a2d1f552ff9541558b3296b5a932136b' : 'cdd48fa884dc0c3a3f85aeebca13d444'
        }
      },
      {
        manifestUri: 'https://atemeshield2-voe.sysln.id/live/eds/CartoonitoHD/mpd/CartoonitoHD.mpd',
        clearKey: {
          '955574ee2b674f0fbbad818fb384c233' : '51d2893619bdd062fb4c0cdaafefbf27'
        }
      },
      {
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_cctv4.mpd',
        clearKey: {
          'b83566836c0d4216b7107bd7b8399366' : '32d50635bfd05fbf8189a0e3f6c8db09'
        }
      },
      {
        manifestUri: 'https://linearjitp-playback.astro.com.my/dash-wv/linear/100/default_ott.mpd',
        clearKey: {
          'a642dd4bf3ea782e19202adefb604b10' : '3f59355e15eed1bb219ea1687d55cfbb'
        }
      },
	{
        manifestUri: 'https://cdn08jtedge.indihometv.com/dassdvr/130/celestialmovie/manifest.mpd',
        clearKey: {
          '69646b755f3130303030303030303030' : 'e4a2359b05563399f1d9adfce641724a'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-01-prod.akamaized.net/out/u/cg_cinemax.mpd',
        clearKey: {
          'b207c44332844523a3a3b0469e5652d7' : 'fe71aea346db08f8c6fbf0592209f955'
        }
      },
	{
        manifestUri: 'https://cdn-ue1-prod.tsv2.amagi.tv/linear/amg01006-abs-cbn-cinemaone-dash-abscbnono/d2faebc2-1e77-4543-8998-3178a6bd42fd/index.mpd',
        clearKey: {
          '58d0e56991194043b8fb82feb4db7276' : 'd68f41b59649676788889e19fb10d22c'
        }
      },
	{
        manifestUri: 'https://cdn-ue1-prod.tsv2.amagi.tv/linear/amg01006-abs-cbn-cinemo-dash-abscbnono/index.mpd',
        clearKey: {
          'aa8aebe35ccc4541b7ce6292efcb1bfb' : 'aab1df109d22fc5d7e3ec121ddf24e5f'
        }
      },
        {
        manifestUri: 'https://qp-pldt-live-grp-13-prod.akamaized.net/out/u/dr_channelnewsasia.mpd',
        clearKey: {
          'b259df9987364dd3b778aa5d42cb9acd' : '753e3dba96ab467e468269e7e33fb813'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_cnnhd.mpd',
        clearKey: {
          '900c43f0e02742dd854148b7a75abbec' : 'da315cca7f2902b4de23199718ed7e90'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-03-prod.akamaized.net/out/u/cnn_rptv_prod_hd.mpd',
        clearKey: {
          '1917f4caf2364e6d9b1507326a85ead6' : 'a1340a251a5aa63a9b0ea5d9d7f67595'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_crime_invest.mpd',
        clearKey: {
          '21e2843b561c4248b8ea487986a16d33' : 'db6bb638ccdfc1ad1a3e98d728486801'
        }
      },
        {
        manifestUri: 'https://qp-pldt-live-grp-07-prod.akamaized.net/out/u/depedch_sd.mpd',
        clearKey: {
          '0f853706412b11edb8780242ac120002' : '2157d6529d80a760f60a8b5350dbc4df'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-13-prod.akamaized.net/out/u/dr_discovery.mpd',
        clearKey: {
          'd9ac48f5131641a789328257e778ad3a' : 'b6e67c37239901980c6e37e0607ceee6'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_discoveryasia.mpd',
        clearKey: {
          '0f853094412b11edb8780242ac120002' : 'ad4ab1f92374716338bc955663d3d902'
        }
      },
	{
        manifestUri: 'https://fl5.moveonjoy.com/DISNEY_CHANNEL/tracks-v1a1/mono.m3u8',
        clearKey: {
          '' : ''
        }
      },
	{
        manifestUri: 'https://fl5.moveonjoy.com/DISNEY_XD/index.m3u8',
        clearKey: {
          '' : ''
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-02-prod.akamaized.net/out/u/cg_dreamworks_hd1.mpd',
        clearKey: {
          '4ab9645a2a0a47edbd65e8479c2b9669' : '8cb209f1828431ce9b50b593d1f44079'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-07-prod.akamaized.net/out/u/cg_dreamworktag.mpd',
        clearKey: {
          '564b3b1c781043c19242c66e348699c5' : 'd3ad27d7fe1f14fb1a2cd5688549fbab'
        }
      },
	{
        manifestUri: 'https://dwamdstream102.akamaized.net/hls/live/2015525/dwstream102/index.m3u8',
        clearKey: {
          '' : ''
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-11-prod.akamaized.net/out/u/dr_france24.mpd',
        clearKey: {
          '257f9fdeb39d41bdb226c2ae1fbdaeb6' : 'e80ead0f4f9d6038ab34f332713ceaa5'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-11-prod.akamaized.net/out/u/dr_fashiontvhd.mpd',
        clearKey: {
          '971ebbe2d887476398e97c37e0c5c591' : '472aa631b1e671070a4bf198f43da0c7'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-09-prod.akamaized.net/out/u/cg_foodnetwork_hd1.mpd',
        clearKey: {
          'b7299ea0af8945479cd2f287ee7d530e' : 'b8ae7679cf18e7261303313b18ba7a14'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-03-prod.akamaized.net/out/u/cg_hbohd.mpd',
        clearKey: {
          'd47ebabf7a21430b83a8c4b82d9ef6b1' : '54c213b2b5f885f1e0290ee4131d425b'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-09-prod.akamaized.net/out/u/cg_hbohits.mpd',
        clearKey: {
          'b04ae8017b5b4601a5a0c9060f6d5b7d' : 'a8795f3bdb8a4778b7e888ee484cc7a1'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-03-prod.akamaized.net/out/u/cg_hbofam.mpd',
        clearKey: {
          '872910c843294319800d85f9a0940607' : 'f79fd895b79c590708cf5e8b5c6263be'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-01-prod.akamaized.net/out/u/cg_hbosign.mpd',
        clearKey: {
          'a06ca6c275744151895762e0346380f5' : '559da1b63eec77b5a942018f14d3f56f'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-04-prod.akamaized.net/out/u/hits_hd1.mpd',
        clearKey: {
          'dac605bc197e442c93f4f08595a95100' : '975e27ffc1b7949721ee3ccb4b7fd3e5'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-09-prod.akamaized.net/out/u/cg_hitsnow.mpd',
        clearKey: {
          '14439a1b7afc4527bb0ebc51cf11cbc1' : '92b0287c7042f271b266cc11ab7541f1'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-08-prod.akamaized.net/out/u/hgtv_hd1.mpd',
        clearKey: {
          'f0e3ab943318471abc8b47027f384f5a' : '13802a79b19cc3485d2257165a7ef62a'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-10-prod.akamaized.net/out/u/ibc13_sd.mpd',
        clearKey: {
          '0f854c8c412b11edb8780242ac120002' : '7ca88009d4ba2e46ace7b18ec7c08704'
        }
      },
	{
        manifestUri: 'https://linearjitp-playback.astro.com.my/dash-wv/linear/9983/default.mpd',
        clearKey: {
          'aa48b28bd723f91214887df6ed9fad10' : 'b5a3a800848120c843ae0fa68c09c261'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_kbsworld.mpd',
        clearKey: {
          '22ff2347107e4871aa423bea9c2bd363' : 'c6e7ba2f48b3a3b8269e8bc360e60404'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-06-prod.akamaized.net/out/u/kix_hd1.mpd',
        clearKey: {
          'a8d5712967cd495ca80fdc425bc61d6b' : 'f248c29525ed4c40cc39baeee9634735'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-11-prod.akamaized.net/out/u/dr_lifetime.mpd',
        clearKey: {
          'cf861d26e7834166807c324d57df5119' : '64a81e30f6e5b7547e3516bbf8c647d0'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-07-prod.akamaized.net/out/u/lotusmacau_prd.mpd',
        clearKey: {
          '60dc692e64ea443a8fb5ac186c865a9b' : '01bdbe22d59b2a4504b53adc2f606cc1'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-06-prod.akamaized.net/out/u/cg_moonbug_kids_sd.mpd',
        clearKey: {
          '0bf00921bec94a65a124fba1ef52b1cd' : '0f1488487cbe05e2badc3db53ae0f29f'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-09-prod.akamaized.net/out/u/cg_mptv.mpd',
        clearKey: {
          '6aab8f40536f4ea98e7c97b8f3aa7d4e' : '139aa5a55ade471faaddacc4f4de8807'
        }
      },
	{
        manifestUri: 'https://rakuten-actionmovies-1-eu.rakuten.wurl.tv/playlist.m3u8',
        clearKey: {
          '' : ''
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-02-prod.akamaized.net/out/u/pl_nba.mpd',
        clearKey: {
          'f36eed9e95f140fabbc88a08abbeafff' : '0125600d0eb13359c28bdab4a2ebe75a'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-11-prod.akamaized.net/out/u/dr_nickelodeon.mpd',
        clearKey: {
          '9ce58f37576b416381b6514a809bfd8b' : 'f0fbb758cdeeaddfa3eae538856b4d72'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_nhk_japan.mpd',
        clearKey: {
          '3d6e9d4de7d7449aadd846b7a684e564' : '0800fff80980f47f7ac6bc60b361b0cf'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-12-prod.akamaized.net/out/u/dr_nickjr.mpd',
        clearKey: {
          'bab5c11178b646749fbae87962bf5113' : '0ac679aad3b9d619ac39ad634ec76bc8'
        }
      },
	    {
        manifestUri: 'https://qp-pldt-live-grp-04-prod.akamaized.net/out/u/oneph_sd.mpd',
        clearKey: {
          '92834ab4a7e1499b90886c5d49220e46' : 'a7108d9a6cfcc1b7939eb111daf09ab3'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-04-prod.akamaized.net/out/u/onenews_hd1.mpd',
        clearKey: {
          'd39eb201ae494a0b98583df4d110e8dd' : '6797066880d344422abd3f5eda41f45f'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-07-prod.akamaized.net/out/u/cg_onesports_hd.mpd',
        clearKey: {
          '53c3bf2eba574f639aa21f2d4409ff11' : '3de28411cf08a64ea935b9578f6d0edd'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-03-prod.akamaized.net/out/u/cg_onesportsplus_hd1.mpd',
        clearKey: {
          '322d06e9326f4753a7ec0908030c13d8' : '1e3e0ca32d421fbfec86feced0efefda'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-01-prod.akamaized.net/out/u/cg_pbarush_hd1.mpd',
        clearKey: {
          '76dc29dd87a244aeab9e8b7c5da1e5f3' : '95b2f2ffd4e14073620506213b62ac82'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-04-prod.akamaized.net/out/u/pbo_sd.mpd',
        clearKey: {
          'dcbdaaa6662d4188bdf97f9f0ca5e830' : '31e752b441bd2972f2b98a4b1bc1c7a1'
        }
      },
	{
        manifestUri: 'https://qp-pldt-live-grp-03-prod.akamaized.net/out/u/cg_premiersports_hd1.mpd',
        clearKey: {
          'fc19c98cb9504a0fb78b22fea0a4b814' : 'ea683112a96d4ae6c32d4ea13923e8c7'
        }
      },
    ];


    async function loadVideo(index) {
      const player = window.player;
      const { manifestUri, clearKey } = videos[index];
      console.log('Loading video:', manifestUri);

      player.configure({
        drm: {
          clearKeys: clearKey
        }
      });

      try {
        await player.load(manifestUri);
        console.log('Video loaded successfully!');
      } catch (error) {
        console.error('Error loading video:', error);
      }
    }

    function initApp() {
      shaka.polyfill.installAll();
      if (shaka.Player.isBrowserSupported()) {
        init();
      } else {
        console.error('Browser not supported!');
      }
    }

    async function init() {
      const video = document.getElementById('video');
      const ui = video['ui'];
      const controls = ui.getControls();
      const player = controls.getPlayer();
      const config = {
        'seekBarColors': {
          base: 'rgba(255, 255, 255, 0.3)',
          buffered: 'rgba(255, 255, 255, 0.54)',
          played: 'rgb(255, 255, 255)'
        }
      };

      player.configure({
        drm: {
          clearKeys: videos[0].clearKey
        }
      });

      ui.configure(config);
      window.player = player;
      window.ui = ui;
      window.controls = controls;
      player.addEventListener("error", onPlayerErrorEvent);
      controls.addEventListener("error", onUIErrorEvent);

      try {
        await player.load(videos[0].manifestUri);
        console.log('The video has now been loaded!');
      } catch (error) {
        console.error('Error loading video:', error);
      }
    }

    function onPlayerErrorEvent(errorEvent) {
      console.error('Player error:', errorEvent.detail);
    }

    function onUIErrorEvent(errorEvent) {
      console.error('UI error:', errorEvent.detail);
    }

    document.addEventListener('shaka-ui-loaded', init);
    document.addEventListener('shaka-ui-load-failed', initFailed);
    document.addEventListener('DOMContentLoaded', initApp);

    function initFailed() {
      console.error('Shaka UI failed to load');
    }

    Object.defineProperty(navigator, 'userAgent', {
      get: function () {
        return 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.4044.138 Safari/537.36';
      }
    });
  </script>

<script src="./scripts/script-main.js"></script>
